html {
  box-sizing: border-box;
  font: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
  color: white;

}
